services:
    nginx:
        restart: always
        image: nginx:1.23-alpine
        ports:
            - 8000:80
        build:
            context: ../../
        expose:
            - 80
        volumes:
            - ./backend/nginx/default.conf:/etc/nginx/conf.d/default.conf
            - static_volume:/app/swippter/static
    dependencies:
        image: backend-dependencies:latest
        build:
            context: ../../
            dockerfile: ./infra/docker/backend/dependencies/Dockerfile
        volumes:
            - static_volume:/app/swippter/static
    server:
        image: swippter-backend-server:latest
        restart: unless-stopped
        build:
            context: ../../
            dockerfile: ./infra/docker/backend/Dockerfile
        volumes:
            - static_volume:/app/swippter/static
        environment:
            - OTEL_EXPORTER_OTLP_ENDPOINT=grpc://otel-collector:4317
            - OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=grpc://otel-collector:4317
            - OTEL_EXPORTER_OTLP_METRICS_ENDPOINT=grpc://otel-collector:4317
            - OTEL_EXPORTER_OTLP_PROTOCOL=grpc
            - OTEL_EXPORTER_OTLP_INSECURE=true
        expose:
            - 8000
        depends_on:
            - redis
            - dependencies
    redis:
        restart: always
        image: redis
        ports:
            - 6379:6379
        build:
            context: ../../
        expose:
            - 6379
    otel-collector:
        image: otel/opentelemetry-collector-contrib
        container_name: otel-collector
        command: [ "--config=/etc/otelcol/config.yaml" ]
        volumes:
            - ./otel-collector-config.yaml:/etc/otelcol/config.yaml
        ports:
            - "4317:4317"
            - "4318:4318"
    promtail:
        image: grafana/promtail
        container_name: promtail
        volumes:
            - ./promtail-config.yaml:/etc/promtail/config.yml
            - /var/lib/docker/containers:/var/lib/docker/containers:ro
            - /var/run/docker.sock:/var/run/docker.sock
        depends_on:
            - loki
    loki:
        image: grafana/loki
        container_name: loki
        ports:
            - "3100:3100"
    tempo:
        image: grafana/tempo
        container_name: tempo
        ports:
            - "3200:3200"
        command:
            - "--storage.trace.backend=local"
            - "--storage.trace.local.path=/tmp/tempo"
    grafana:
        image: grafana/grafana
        container_name: grafana
        ports:
            - "3000:3000"
        depends_on:
            - loki
            - tempo
            - otel-collector
volumes:
    static_volume: {}
