services:
    nginx:
        image: nginx:1.23-alpine
        container_name: nginx
        restart: always
        ports:
            - 80:80
        build:
            context: ../../            
        expose:
            - 80
        volumes:
            - ../config/default.conf:/etc/nginx/conf.d/default.conf
            - static_volume:/app/swippter/static-files
    dependencies:
        image: swippter-backend-dependencies:latest
        build:
            context: ../../
            dockerfile: ./infra/docker/dependencies/Dockerfile
        volumes:
            - static_volume:/app/swippter/static-files        
    server:
        image: swippter-backend-server:latest
        container_name: swippter-backend-server
        restart: unless-stopped
        build:
            context: ../../
            dockerfile: ./infra/docker/backend/Dockerfile
        volumes:
            - static_volume:/app/swippter/static-files
        expose:
            - 8000   
        depends_on:
            redis:
                condition: service_started
            dependencies:
                condition: service_started
            mysql:
                condition: service_healthy
    redis:
        image: redis
        container_name: redis
        restart: always
        ports:
            - 6379:6379
        build:
            context: ../../            
        expose:
            - 6379        
    mysql:
        image: mysql:8.0
        container_name: mysql
        restart: always
        ports:
          - 3306:3306     
        build:
            context: ../../   
        env_file: 
            - ../env/.mysql.env
        healthcheck:
            test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
            interval: 5s
            timeout: 3s
            retries: 10
            start_period: 20s
    rabbitmq:
      image: rabbitmq:4.2-alpine
      container_name: rabbitmq      
      ports:
          - 5672:5672   
      depends_on:
        redis : 
            condition: service_started
volumes:
    static_volume: {}