services:
    nginx:
        restart: always
        image: nginx:1.23-alpine
        ports:
            - 8000:80
        build:
            context: ../../            
        expose:
            - 80
        volumes:
            - ./backend/nginx/default.conf:/etc/nginx/conf.d/default.conf
            - static_volume:/app/swippter/static
    dependencies:
        image: swippter-backend-dependencies:latest
        build:
            context: ../../
            dockerfile: ./infra/docker/backend/dependencies/Dockerfile
        volumes:
            - static_volume:/app/swippter/static        
    server:
        image: swippter-backend-server:latest
        restart: unless-stopped
        build:
            context: ../../
            dockerfile: ./infra/docker/backend/Dockerfile
        volumes:
            - static_volume:/app/swippter/static
        expose:
            - 8000   
        depends_on:
            redis:
                condition: service_started
            dependencies:
                condition: service_started
            mysql:
                condition: service_healthy
    redis:
        restart: always
        image: redis
        ports:
            - 6379:6379
        build:
            context: ../../            
        expose:
            - 6379        
    mysql:
        restart: always
        image: mysql
        ports:
          - 3306:3306     
        build:
            context: ../../   
        env_file: 
            - ./backend/mysql/.env
        healthcheck:
            test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
            interval: 5s
            timeout: 3s
            retries: 10
            start_period: 20s
volumes:
    static_volume: {}