apiVersion: v1
kind: ConfigMap
metadata:
  name: otel-collector-config
data:
  config.yaml: |
    receivers:
      otlp:
        protocols:
          grpc:
            endpoint: 0.0.0.0:4317  # Listen on all interfaces in k8s
          http:
            endpoint: 0.0.0.0:4318
            
    exporters:
      debug:
        verbosity: detailed
      otlp:
        endpoint: tempo:4317  # Kubernetes service DNS
        tls:
          insecure: true
      prometheus:
        endpoint: "0.0.0.0:8889"

    service:
      pipelines:
        traces:
          receivers: [otlp]
          exporters: [debug, otlp]
        metrics:
          receivers: [otlp]
          exporters: [debug, prometheus]
        logs:
          receivers: [otlp]
          exporters: [debug]