apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  labels:
    app: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: akk29/public:swippter-frontend-server
        ports:
        - containerPort: 80
        resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "250m"
              memory: "128Mi"
        volumeMounts:
          - name: static-volume
            mountPath: /app/swippter/static-files
          - name: nginx-config
            mountPath: /etc/nginx/conf.d/default.conf
            subPath: default.conf
      volumes:
        - name: static-volume
          persistentVolumeClaim:
            claimName: static-pvc
        - name: nginx-config
          configMap:
              name: nginx-config