apiVersion: apps/v1
kind: Deployment
metadata:
  name: server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: server
  template:
    metadata:
      labels:
        app: server
    spec:
      initContainers:
      - name: wait-for-mysql
        image: busybox:1.35
        command:
        - sh
        - -c
        - |
          until nc -z mysql 3306; do
            echo "Waiting for MySQL..."
            sleep 2
          done
          echo "MySQL is available!"
      containers:
        - name: server
          image: akk29/public:swippter-backend-server
          ports:
            - containerPort: 8000
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "256Mi"
          volumeMounts:
            - name: static-volume
              mountPath: /app/swippter/static-files
      volumes:
        - name: static-volume
          persistentVolumeClaim:
            claimName: static-pvc