apiVersion: v1
kind: Service
metadata:
  name: rabbitmq
  labels:
    app: rabbitmq
spec:
  type: LoadBalancer
  ports:
    - port: 5672
      targetPort: 5672
      protocol: TCP
  selector:
    app: rabbitmq